.wrapper {
  position: relative;
}

.content img {
  max-height: 160px;
  margin-bottom: -30px;
}

.content ul {
  list-style: none;
  text-align: center;
  font-size: 30px;
  line-height: 1.6;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.content li {
  padding-right: 40px;
}

.content ul a {
  text-shadow:0 0 2px #FE0000, 0 0 10px #FE0000, 0 0 20px #FE0000;color:#FE0000;
  text-decoration: none;
}

.content ul a:hover {
  color: rgb(17, 17, 17);
}

.wrapper .content .links li:hover {
  opacity: 1;
}
