.wrapper {
  position: relative;
}

.content img {
  max-height: 160px;
  margin-bottom: -30px;
}

.content ul {
  list-style: none;
  text-align: center;
  font-size: 30px;
  line-height: 1.6;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.content li {
  padding-right: 10px;
}

.separator {
  border-bottom: #910f0f 3px solid;
  width: 200%;
  margin-left: -100px;
}

.content ul a {
  color: rgb(73, 73, 73);
  text-decoration: none;
  border-radius: 2px;
  background-color: rgb(179, 180, 180);
}

.content ul a:hover {
  color: rgb(17, 17, 17);
}

.wrapper .content .links li:hover {
  opacity: 1;
  color: aqua;
}
